@media screen and (max-width: 640px) {
  /* header */
  header #drawer {
    z-index: 3;
  }

  header #drawer .nav-content .nav-menu {
    position: absolute;
    right: 0;
    flex-direction: column;
    background-color: #282b5c;
    top: 70px;
    height: 210px;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    transform: translateY(-10%);
    transition: all 1s;
    opacity: 0;
    /* z-index: 1; */
  }

  header #drawer .nav-content .nav-menu li {
    margin: 5px 0;
    display: list-item;
  }
  header #drawer .nav-content .nav-menu.slide {
    position: absolute;
    opacity: 1;
    transform: translateY(0);
  }

  header #drawer .nav-content .nav-menu.slide li {
    display: flex;
  }

  header #drawer .nav-content #hamburger {
    color: #dedede;
    opacity: 1;
    display: block;
  }

  header #drawer .nav-content #hamburger:hover {
    color: white;
  }

  /* Hero */
  .hero {
    position: relative;
    transition: 1s;
    z-index: 2;
  }
  .hero.turun {
    transition: 1s;
    margin-top: 210px;
  }

  main {
    background-color: white;
    position: relative;
    transition: 1s;
    /* z-index: 2; */
  }
  main.turun {
    transition: 1s;
    margin-top: 210px;
    /* z-index: 1; */
  }
}
@media screen and (min-width: 650px) {
  /* restaurant */
  .restaurants {
    grid-template-columns: 1fr 1fr;
  }

  .restaurant {
    grid-template-columns: auto 1fr;
  }

  .restaurant .restaurant__review {
    grid-template-columns: 1fr 1fr;
  }

  .restaurant .restaurant__title {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .restaurant .restaurant__menu {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .restaurant .restaurant__overview {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .restaurant .restaurant__review {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .restaurant .add__review {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media screen and (min-width: 800px) {
  /* .app-bar .app-bar__brand h1 {
    font-size: 2em;
  } */
}

@media screen and (min-width: 850px) {
  .restaurants {
    grid-template-columns: repeat(3, 1fr);
  }

  .restaurant .restaurant__review {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .restaurants {
    grid-template-columns: repeat(4, 1fr);
  }

  .restaurant .restaurant__review {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1600px) {
  .restaurants {
    grid-template-columns: repeat(5, 1fr);
  }

  .restaurant .restaurant__review {
    grid-template-columns: repeat(5, 1fr);
  }
}
